<div class="modal fade" id="editModal<%=task.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit task</h5>
      </div>
      <div class="modal-body">
        <div class="task-form">
          <%= simple_form_for( [team, task]) do |f| %>
            <%= f.input :title, label: "Title", placeholder: "Task Title" %>
            <%= f.input :description, label: "Description", placeholder: "Task Description" %>
            <%= f.input :deadline %>
            <%= f.input :etc, label: "Time to complete (hours)", placeholder: "Estimated number of hours"%>
            <%= f.input :urgent %>
            <%= f.submit "Update", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
