<div class="task-form">
  <%= simple_form_for( [team, task]) do |f| %>
    <%= f.input :title, label: "Title", placeholder: "Task Title" %>
    <%= f.input :description, label: "Description", placeholder: "Task Description" %>
    <%= f.input :deadline %>
    <!-- input hours type number id hours  -->
    <!-- input minutes type select id minutes [["0", "00"], ["0.25", "15"], ["0.5", "30"] etc...]  -->
    <!-- input etc type hidden value is sum of input hours and minutes, requires js event is either change in input hours or minutes, each time recompute sum and assign to etc input value -->
    <%= f.input :etc, label: "Time to complete (hours)", placeholder: "Estimated number of hours"%>
    <%= f.input :urgent %>
    <%= hidden_field :original_page, value: request.original_url  %>
    <%= hidden_field :referrer_page, value: request.referrer  %>
    <%= f.submit value: action, class: "btn btn-primary" %>
  <% end %>
</div>
