<div class="task-form">
  <%= simple_form_for( [team, task]) do |f| %>
    <%= f.input :title, label: "Title", placeholder: "Task Title" %>
    <%= f.input :description, label: "Description", placeholder: "Task Description" %>
    <%= f.input :deadline %>
    <div class="etc">
      <p class="form-group">Estimated time needed:</p>
      <div class="etc-row">
        <%= f.input :hours, label:"Hours"%>
        <%= f.input :minutes, label: "Minutes"%>
      </div>
    </div>
    <%= f.input :urgent %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
