<div class="table-page">

  <div class="table">
      <div class="headers">
        <h4 class="header-font content-task-deadline-header">Deadline</h4>
        <h4 class="header-font content-task-urgent-header"><i class="fas fa-arrow-circle-up header"></i></h4>
        <h4 class="header-font content-task-title-header">Title</h4>
        <h4 class="header-font content-task-etc-header"><i class="far fa-clock"></i></h4>
        <h4 class="header-font content-task-owner-header">Owner</h4>
      </div>
        <% @tasks.each do |task| %>
          <div  class="" data-toggle="collapse" aria-expanded="true"  data-target=<%= "#task#{task.id}" %> >
            <div class="row-task">
              <div class="content-task-deadline task-font"><p><%= task.deadline %></p></div>
            <div class="content-task-urgent task-font">
              <% if task.urgent? %>
                <%= link_to team_task_path(@team, task, task: {urgent: false}), method: :put do%>
                  <i class="fas fa-arrow-circle-up"></i>
                <% end %>
              <% else %>
                <%= link_to team_task_path(@team, task, task: {urgent: true}), method: :put do%>
                  <i class="far fa-circle"></i>
                <% end %>
              <% end %>
            </div>
              <div class="content-task-title task-font"><%= task.title %></div>
              <div class="content-task-etc task-font"><p><%= task.etc %></p></div>
              <div class="content-task-owner task-font">
                <div class="nav-item dropdown centered">
                  <!-- if task.user.nil? true: "Not Assigend", false: show avatar -->
                  <% if task.user.nil? %>
                    <%= link_to "Not Assigned", edit_user_registration_path, class: "dropdown-toggle links-table-owner no-owner", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% else %>
                    <!--checking if user has a photo: true: show avatar, false: show "Name Surname" -->
                    <% if task.user.photo.attached? %>
                      <%= cl_image_tag task.user.photo.key, class: "avatar-small dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <% else %>
                      <%= link_to "#{task.user.first_name} #{task.user.last_name}", edit_user_registration_path, class: "dropdown-toggle links-table-owner", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <% end %>
                  <% end %>
                  <!-- showing all team users (avatar / name + surname) in dropdown list -->
                  <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
                    <% @team.users.each do |user| %>
                      <% if user.photo.attached? %>
                        <%= link_to team_task_path(@team, task, task: { user_id: user.id}), method: :put, class: "dropdown-item" do %>
                          <%= cl_image_tag user.photo.key, class: "avatar-small text-center" %>
                        <% end %>
                      <% else %>
                        <%= link_to "#{user.first_name} #{user.last_name}", team_task_path(@team, task, task: { user_id: user.id}), method: :put, class: "dropdown-item", data: { toggle: "" }, 'aria-expanded': false %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div  class="collapse div-collapsed" id=<%= "task#{task.id}" %>>
            <div class="task-description">
              <%= task.description %>
            </div>
            <div class="edit-delete">
              <i class="fas fa-trash-alt"></i>
              <i class="fas fa-pencil-alt"></i>
            </div>
          </div>
        <% end %>

  </div>
</div>

