<div class="login-form">
  <div class="content-login-form">
    <div class="login-form-header">
      <h1>Forgot your password?</h1>
    </div>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="btn btn-form-login">
          <%= f.button :submit, "Send email" %>
        </div>
      <% end %>

      <div class="form-links">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
