<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-pages">
  <div>
    <a class="navbar-logo" href="../tasks">
      <%= image_tag "white-logo.png", class: "logo", alt: "alttext" %>
      <h1> ST&ND </h1>
    </a>
  </div>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <!-- ADD NEW TASK -->
        <li class="nav-item active">
          <a class="navbar-brand" href="#">
            <i class="fas fa-plus-circle" data-toggle="modal" data-target="#exampleModal"></i>
            <%= render "shared/taskcreate" %>
          </a>
        </li>
        <!-- STATS ICON -->
        <li class="nav-item active">
          <a class="navbar-brand" href="#">
            <i class="fas fa-chart-line"></i>
          </a>
        </li>
        <!-- TEAM ICON - DROPDOWN MENU -->
        <li class="nav-item">
          <!-- OLD CODE START -->
          <!-- <a class="navbar-brand" href="#">
            <i class="fas fa-users"></i>
          </a> -->
          <!-- OLD CODE FINISH -->

          <!-- NEW CODE START -->
          <!-- <div class="content-task-owner task-font"> -->
            <div class="nav-item dropdown centered">
              <i class="navbar-brand fas fa-users" class="avatar dropdown-toggle" id="navbarDropdown white-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
              <!-- ITERATE OVER USERS -->
              <!-- showing all team users (avatar / name + surname) in dropdown list -->
              <% if @team %>
                <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
                  <% @team.users.each do |user| %>
                    <% if user.photo.attached? %>
                    <!-- user_tasks_team_tasks -->
                      <!-- Couldn't find Task with 'id'=user_tasks  / it should be id of task-->
                      <!-- @task = Task.find(params[:id]) -->
                      <!-- user_tasks_team_tasks GET /teams/:team_id/tasks/user_tasks(.:format) tasks#user_tasks -->
                      <%= link_to user_tasks_team_tasks_path(user.team), class: "dropdown-item" do %>
                        <%= cl_image_tag user.photo.key, class: "avatar-round avatar-small text-center" %>
                      <% end %>
                    <% else %>
                      <%= link_to "#{user.first_name} #{user.last_name}", team_user_path(@team, user), class: "dropdown-item", data: { toggle: "" }, 'aria-expanded': false %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <!-- </div> -->
          <!-- NEW CODE END -->

        </li>
        <!-- AVATAR / USER ICON -->
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-round dropdown-toggle", id: "navbarDropdown round", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <i class="fas fa-user" class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
          <% end %>
          <!-- dropdown menu -->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Your profile", edit_user_registration_path, class: "dropdown-item" %>
            <!-- created temporary link to user tasks in help !!!!!TO CHANGE!!!!! -->
            <%= link_to "Help", user_tasks_team_tasks_path(current_user.team), class: "dropdown-item" %>
            <!-- created temporary link to team tasks in help !!!!!TO CHANGE!!!!! -->
            <%= link_to "Settings", team_tasks_path(current_user.team), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
