<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-pages">
  <div>
    <a class="navbar-logo" href="#">
      <i class="fas fa-tasks"></i>
      <h1> ST&ND </h1>
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="navbar-brand" href="#">
            <i class="fas fa-plus-circle" data-toggle="modal" data-target="#exampleModal"></i>
            <%= render "shared/taskcreate" %>
          </a>
        </li>
        <li class="nav-item active">
          <a class="navbar-brand" href="#">
            <i class="fas fa-chart-line"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#">
            <i class="fas fa-users"></i>
          </a>
        </li>
        <!-- AVATAR / USER ICON -->
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-round dropdown-toggle", id: "navbarDropdown round", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <i class="fas fa-user" class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
          <% end %>
          <!-- dropdown menu -->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Your profile", edit_user_registration_path, class: "dropdown-item" %>
            <!-- created temporary link to user tasks in help !!!!!TO CHANGE!!!!! -->
            <%= link_to "Help", user_tasks_team_tasks_path(current_user.team), class: "dropdown-item" %>
            <!-- created temporary link to team tasks in help !!!!!TO CHANGE!!!!! -->
            <%= link_to "Settings", team_tasks_path(current_user.team), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
