<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-home">
  <div>
    <a class="navbar-brand" href="#">
      <!-- to add logo below -->
      <p>ST&ND</p>
      <!-- <i class="fas fa-tasks"></i> -->
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="">
          <%= link_to "Plan your day", team_tasks_path(current_user.team), class: "links-banner-main link-sm" %>
          <!-- <a class="navbar-brand" href="#">
            <i class="fas fa-plus-square"></i>
          </a> -->
        </li>
        <li class="">
          <!-- <a class="navbar-brand" href="#">
            <i class="fas fa-chart-line"></i>
          </a> -->
        </li>
        <li class="">
          <!-- <a class="navbar-brand" href="#">
            <i class="fas fa-users"></i>
          </a> -->
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Your profile", "#", class: "dropdown-item" %>
            <!-- created temporary link to user tasks in help !!!!!TO CHANGE!!!!! -->
            <%= link_to "Help", user_tasks_team_tasks_path, class: "dropdown-item" %>
            <%= link_to "Settings", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="">
          <%= link_to "Find out more", user_session_path, class: "links-banner-about link-sm" %>
          <%= link_to "Login", user_session_path, class: "links-banner-main link-sm" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
